{% extends 'pages/home.html' %}


{% load static %}


{% block body %}

    <div class="login-Logout">

        <table class="table">

            <th>
                <td>
                    <a href="{% url 'app:userSeries' %}">

                        <button class="button1">
                            <span class="actual-text">&nbsp;Create_Series&nbsp;</span>
                            <span aria-hidden="true" class="hover-text">&nbsp;Create_Series&nbsp;</span>
                        </button> 
                    </a>
                </td>


                <td>
                    <a href="{% url 'app:choice' %}">

                        <button class="button1" >
                            <span class="actual-text">&nbsp;Create_Character&nbsp;</span>
                            <span aria-hidden="true" class="hover-text">&nbsp;Create_Character&nbsp;</span>
                        </button> 

                    </a>
                </td>
            </th>

        </table>

    </div>


    <h1 class="userName" id="userNameProjects">My projects</h1>



    <div class="container">

        {% for j in content %}

            <div id="mainDiv">
                <div id="wrapperDiv">      

                    <a href="{% url 'app:userIndex' pk=j.id %}"><img id="photo" src="{{ j.image.url }}" alt=""></a>
            
                        <h2 class="name">{{ j.createName }}</h2>
                        <br>
                        
                </div> 
            </div>

        {% endfor %}
        
    </div>


    <link rel="stylesheet" type="text/css" href="{% static 'styles/user.css' %}">


{% endblock %}